
/.idea
/.vscode
vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
storage/logs
storage/debugbar
storage/framework
routes/probas.php
routes/probas.blade.php
storage/logs/laravel.log
node_modules/
storage/logs
.env
C:/xampp/htdocs/project/.env
C:/xampp/htdocs/project/storage/logs/laravel.log