/* Estilo base */
.hight_img {
    max-width: 30px !important;
    max-height: 30px !important;
}

.tooltipCus {
    position: relative;
    cursor: pointer;
}

.tooltipCus::after {
    content: attr(data-title);
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 60%;
    transform: translateX(-5%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltipCus:hover::after {
    visibility: visible;
    opacity: 1;
}

.foot-milestone {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.taskList {
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.statusDate {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.addMilestone {
    display: flex !important;
    justify-content: space-evenly !important;
    width: 200px;
    text-align: center;
    padding-right: 1%;
    align-items: center;
}

/* Responsive Styles */

/* Pantallas menores de 768px (tablets y móviles) */
@media (max-width: 768px) {
    .hight_img {
        max-width: 20px !important;
        max-height: 20px !important;
    }

    .tooltipCus::after {
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
    }

    .foot-milestone {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .taskList {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .statusDate {
        margin: 2%;
        flex-direction: row;
        justify-content: space-around;
    }

    .addMilestone {
        width: 100%;
        justify-content: space-around !important;
        padding-right: 0;
    }
}

/* Pantallas menores de 480px (móviles pequeños) */
@media (max-width: 480px) {
    .hight_img {
        max-width: 15px !important;
        max-height: 15px !important;
    }

    .tooltipCus::after {
        font-size: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .foot-milestone {
        flex-direction: column;
        align-items: stretch;
    }

    .taskList {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .statusDate {
        margin: 1%;
        flex-direction: column;
        align-items: center;
    }

    .addMilestone {
        width: 100%;
        padding-right: 0;
        justify-content: center !important;
    }
}
