.tooltipCus {
    position: relative;
    cursor: pointer;
}

.tooltipCus::after {
    content: attr(data-title);
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    padding: 4px 8px;
    max-width: 90vw;
}

.weekRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.tooltipCus:hover::after {
    visibility: visible;
    opacity: 1;
}

.custom-accordion-button {
    background-color: transparent;
    font-weight: bold;
    color: black;
    border: none;
}

.icon {
    width: 10vw;
    height: 10vw !important;
    max-width: 50px;
    max-height: 50px;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.week {
    border: none !important;
    background-color: #dbdada94 !important;
    margin: 1%;
    text-align: center !important;
    width: 200px;
}

.header-days {
    border: none !important;
    justify-content: space-evenly;
    background-color: #dbdada94 !important;
    margin-right: 1%;
    text-align: center !important;
    flex-wrap: wrap;
    width: 100%;
    background-color: transparent !important;
}

.wid {
    border: none !important;
    background-color: transparent !important;
}

/* .task-name {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    width: 215px !important;
} */

.table-responsive {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.accordion {
    width: 100%;
}

.span {
    color: white !important;
}

.accordion-header {
    line-height: 50px !important;
}

.table td {
    text-align: center;
    align-content: center;
    word-wrap: break-word;
}

tfoot,
thead {
    background-color: #F8F9FD;
}